build  --verbose_failures --spawn_strategy=standalone --strategy=Genrule=standalone --show_timestamps --show_progress --show_progress_rate_limit 0.5
common --color=yes
run --verbose_failures --show_progress --show_progress_rate_limit 0.05
startup --max_idle_secs=15
test --spawn_strategy=standalone --verbose_failures --test_output=streamed --test_verbose_timeout_warnings --show_progress --show_progress_rate_limit 0.05
