#!/usr/bin/env bash
#
# direnv environmnent file, adds several pathnames to the PATH while 
# inside the mono repo folder. 
#
# To use:
# 
#    brew install direnv
#    echo 'eval "$(direnv hook bash)"' >> ~/.bashrc
#    source ~/.bashrc
#
# For login shells other than BASH, see `direnv help hook`

PATH_add 'bin'

